
.custom-select {
  width: 100%;
}


.css-13cymwt-control ,.css-t3ipsp-control {
  border: none   !important;
  background-color: transparent  !important;
  box-shadow: none !important;
}

.css-1jqq78o-placeholder , .css-art2ul-ValueContainer2{
  text-align: center;
}



