:root { 
--gray_600:#707070; 
--blue_900:#012bb4; 
--red_700:#c53f3f; 
--blue_gray_400:#8d8d8d; 
--white_A700_1e:#ffffff1e; 
--gray_900:#011c2a; 
--red_300:#e4897b; 
--red_400:#de5753; 
--gray_200:#f0f0f0; 
--gray_300:#e0e0e0; 
--gray_50:#fafafa; 
--gray_300_01:#e6e6e6; 
--gray_100:#f5f5f5; 
--black_900_1e:#0000001e; 
--white_A700_21:#ffffff21; 
--black_900:#000000; 
--black_900_07:#00000007; 
--gray_200_01:#ebebeb; 
--blue_gray_900:#263238; 
--white_A700:#ffffff; 
}